:root {
    --bg-color: #000;
    --text-color: #fff;
}

* {
    font-family: 'RobotoMono Nerd Font', 'Poppins', monospace;
    color: var(--text-color);
    background-color: var(--bg-color);
}

@media (max-width: 428px) {
    .header-node {
        font-size: 16px;
    }

}

body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 999999px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 600px) {
    .header-node {
        font-size: 24px;
    }

    .content {
        width: 80%;
    }
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid var(--text-color);
    /*border-image: linear-gradient(35deg, red, blue) 30;*/
    padding-top: 10px;
    padding-bottom: 20px;

    animation: 5s linear infinite gradient-animation;
}

.navbar>* {
    display: flex;
}

.header-node {
    margin-left: 7px;
    margin-right: 7px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);

    transition: transform 300ms ease-out;
}

.header-node:hover {
    transform: scale(1.1);
}

.large {
    height: 99999px
}


.content {
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}

.content h1 {
    font-weight: bold;
    font-size: 56px;
}

.page-title {
    text-align: center;
    font-size: 74px;
    margin-bottom: 50px;
}

.scroll-bounds {
    /*height: 240vh;*/
    padding: 0;
    margin-bottom: 0;
    height: auto;
    /*height: 999999px;*/
    /*overflow: hidden;*/
}

.content-container {
    display: flex;
    height: auto;
    /*border: 1px solid white;*/
}

.text-content {

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px;
}

.talking-point:last-child {
    margin-bottom: 50px;
}

.img-container {
    width: 50%;

}

.img-container img {
    object-fit: cover;
    width: 100%;
}

.testing {
    margin: 0;
    position: absolute;
    display: none;
    width: auto;
    flex-direction: row;
    z-index: 9999;
    color: white;
}

#test-text {
    color: white;
}

.test-block {
    width: 25px;
    height: 25px;
    background-color: red;
    left: 50px;
}

.image-parallax-container {
    margin-top: 10vh;
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-parallax-container img {
    width: 100%;
    transform: scale(0.4);
    z-index: 0;
}

#parallax-image {
    transition: transform 0.3 ease-in-out;
}

.overlay-text {
    width: 100%;
    height: 100vh;
    margin-top: 80vh;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
}

.overlay-text>* {
    background-color: rgba(0, 0, 0, 0);

}

.overlay-text div {
    color: black;
    font-size: 36px;
    width: 30%;
    margin-bottom: 20vh;
}

.overlay-text:nth-child(1) {
    justify-self: right;
}

.overlay-text h1 {
    text-align: center;
    color: black;
}

#parallax-range {
    width: 100%;
    height: 5px;
}

.talking-point {
    margin-bottom: 30vh;

}

.talking-point p {
    font-weight: bold;
    font-size: 32px
}

.talking-point h1 {
    font-weight: bold;
    font-size: 56px;
}

.head-content {
    display: flex;
    flex-direction: row;
    height: auto;
}

.left {
    width: 50%;
    align-content: center;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: center;*/
}

.right {
    align-content: center;
    width: 50%;
}

.head-content-img {
    width: 100%;
    object-fit: cover;
}

.seperator {
    height: 700px;
    width: 100%;
}

#parallax-img {
    overflow: hidden;
}
